* {box-sizing:border-box}

h1 {
    padding-left: 50px;
    font-size: 36px;
    position: relative;
    right: 5px;

}

li{
    display: inline;
    list-style-type: none;
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 36px;
    width: 150px;
    display: inline-block;
    position: relative;
    left: 970px;
    bottom: 60px;
}

ul{
    display: inline;
    margin: 10px 0px;
    padding: 0;
    text-align: center;
    position: relative;
}

h3 {
    display: block;
    font-weight: normal;
}

.header {
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
    left: 30px;
    margin-bottom: 70px;
}

.leftsidelist {
  position: relative;
  top: 10px;
}

.home {
  padding-bottom: 30px;
}

.about {
  padding-bottom: 30px;
}

#navbar {
  position: relative;
  top: 30px;

}

#logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 70px;
    bottom: 400px;
  }

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #ce321e
}

a:active {
  color: #ce321e
}

.aboutme {
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 30px;
    font-family: 'Space Grotesk', sans-serif;
}

h2 {
    font-size: 28px;
}

html {
    width: 1420px;
}

#contactme {
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 50px;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: underline;
}