* {box-sizing:border-box}

li{
  display: inline;
  list-style-type: none;
  text-align: left;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 36px;
  width: 150px;
  display: inline-block;
  position: relative;
  left: 970px;
  bottom: 60px;
}

ul{
  display: inline;
  margin: 10px 0px;
  padding: 0;
  text-align: center;
  position: relative;
}

.header {
  font-family: "quicksand";
  position: relative;
  left: 10px;
  bottom: 70px;
}

.leftsidelist {
  position: relative;
  top: 30px;
  left: 45px;
}

#logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 70px;
    bottom: 400px;
  }

  h1 {

    padding-left: 50px;
    font-size: 36px;
    position: relative;
    right: 5px;
}
  .home {
    padding-bottom: 30px;
  }

  .about {
    padding-bottom: 30px;
  }

  #navbar {
    position: relative;
    left: 20px;
  }

  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: #ce321e
  }
  
  a:active {
    color: #ce321e
  }

  h2{
      font-family: "quicksand";
      position: relative;
      font-weight: normal;
  }